@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

:root {
  --primary-text-color: #373737;
  --primary-text-heading-color: #0C0C0C;
  --secondary-text-color: #FFFFFF;
  --ternary-text-color: #525252;
  --button-bg: #2B6A0A;
}

@keyframes nav-arrow {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utility {
  .animate-nav-arrow {
    animation: nav-arrow 1.2s ease-in-out infinite;
  }
  
  .animate-slide-down {
    animation: slideDown 0.3s ease-out;
  }
}
